.DS_Store
node_modules
dist
test-results/
package-lock.json
yarn.lock
/packages/create-svelte/template/CHANGELOG.md
/documentation/types.js
.env
.vercel_build_output
.svelte-kit
.cloudflare
.pnpm-debug.log
.netlify