{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"printWidth": 100,
	"overrides": [
		{
			"files": ["*.svelte"],
			"options": {
				"svelteSortOrder": "scripts-markup-styles-options",
				"svelteBracketNewLine": true
			}
		}
	]
}
