{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"printWidth": 100,
	"overrides": [
		{
			"files": ["*.svelte"],
			"options": {
				"bracketSameLine": false
			}
		},
		{
			"files": [
				"**/CHANGELOG.md",
				"packages/kit/src/packaging/test/fixtures/**/expected/**/*",
				"packages/kit/src/core/build/prerender/fixtures/**/*"
			],
			"options": {
				"requirePragma": true
			}
		}
	]
}
