packages/*/dist
packages/adapter-*/server.js
packages/adapter-*/render.js

packages/app-utils/common
packages/app-utils/files
packages/app-utils/http
packages/app-utils/renderer

packages/create-svelte/bin
packages/create-svelte/cli/versions.js

packages/kit/assets/runtime
packages/kit/client/**/*.d.ts
