html {
	--bg: white;
	--fg: #333;
	--fg-light: #666;
}

html.dark {
	--bg: #333;
	--fg: #eee;
	--fg-light: #aaa;
}

body {
	margin: 0;
	font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	background-color: var(--bg);
	color: var(--fg);
	transition: background-color 0.6s;
}

@media (prefers-reduced-motion: reduce) {
	body {
		transition: none;
	}
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 0.5em 0;
	font-weight: 400;
	line-height: 1.2;
}

h1 {
	font-size: 2em;
}

a {
	color: inherit;
}

code {
	font-family: menlo, inconsolata, monospace;
	font-size: calc(1em - 3px);
}

@media (min-width: 400px) {
	body {
		font-size: 16px;
	}
}