.hero-container:dir(rtl) {
	max-width: 116rem;
}

.home .grid {
	display: grid;
	gap: 1em;
	margin: 0 0 6rem 0;
}

.home .grid:last-child {
	margin-bottom: 0;
}

@media (min-width: 900px) {
	.home .grid {
		grid-template-columns: repeat(var(--columns), 1fr);
		gap: 7rem;
	}
}
