.hero-container:dir(rtl) {
	max-width: 116rem;
}

.home {
	--background-1: radial-gradient(circle at top right, rgb(230, 233, 236), rgb(244, 245, 247));
	--background-2: var(--sk-theme-2);
}

.home h2 {
	font-size: var(--sk-text-xl);
	line-height: 1.2;
}

.home .grid {
	display: grid;
	gap: 1em;
	margin: 0 0 4rem 0;
}

.home .grid:last-child {
	margin-bottom: 0;
}

@media (min-width: 900px) {
	.home h2 {
		font-size: var(--sk-text-xxl);
	}

	.home .grid {
		grid-template-columns: repeat(var(--columns), 1fr);
		gap: 7rem;
	}
}

/* In case JS disabled */
@media screen and (prefers-color-scheme: dark) {
	.home {
		/* --background-1: radial-gradient(circle at top right, rgb(49, 49, 49), rgb(77, 77, 77)); */
		--background-1: #222;
		--background-2: #444;
	}

	body.light .home {
		--background-1: radial-gradient(circle at top right, rgb(230, 233, 236), rgb(244, 245, 247));
		--background-2: var(--sk-theme-2);
	}
}

body.dark .home {
	/* --background-1: radial-gradient(circle at top right, rgb(49, 49, 49), rgb(77, 77, 77)); */
	--background-1: #222;
	--background-2: #444;
}
