@font-face {
	/* we need a font file that exceeds assetsInlineLimit */
	font-family: 'Shlop';
	src: url(./shlop.woff2);
}

@font-face {
	/* the dot in the file name must survive hash stripping */
	font-family: 'Shlop Var';
	src: url(./shlop.var.woff2);
}

@font-face {
	font-family: 'shlopbold';
	src: url('./shlop+bold.woff2') format('woff2');
}
